<div class="container ">
  <div  class="row">
    <div class="col-6">
      <!-- Content for the first column -->


<div class="card-container">
      <div class="card">
        <div class="front">
          <div class="cover">
            <img src="/assets/images/rotating_card_thumb2.png">
          </div>
          <div class="user">
            <img [src]="image_path"  class="img-circle">
          </div>
          <div class="content">
            <div class="main">
              <h3  [innerText]="FirstName"  class="name"> </h3>
              <h3 [innerText]="Name" class="name"></h3>
              <p [innerText]="Job" class="profession"></p>
              <p [innerText]="FavouriteCitation" class="text-center"></p>
            </div>
            <div class="footer">
              <i class="fa fa-mail-forward"></i> Auto Rotation
            </div>
          </div>
        </div> <!-- end front panel -->
        <div class="back">
          <div class="header">
            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
          </div>
          <div class="content">
            <div class="main">
              <h4 [innerText]="job_description"  class="text-center">Job Description</h4>
              <p [innerText]="job_keywords" class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>

              <div class="stats-container">
                <div class="stats">
                  <h4>235</h4>
                  <p>
                    Followers
                  </p>
                </div>
                <div class="stats">
                  <h4>114</h4>
                  <p>
                    Following
                  </p>
                </div>
                <div class="stats">
                  <h4>35</h4>
                  <p>
                    Projects
                  </p>
                </div>
              </div>

            </div>
          </div>
          <div class="footer">
            <div class="social-links text-center">
              <a href="https://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
              <a href="https://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
              <a href="https://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
            </div>
          </div>
        </div> <!-- end back panel -->
      </div> <!-- end card -->
</div>
    </div>
    <div class="col-6">
      <!-- Content for the second column -->


    <form>
    <div class="form-group">
      <label >First Name</label>
      <input #firstname type="text" class="form-control"  placeholder="First name">
    </div>
      <div class="form-group">
        <label >Name</label>
        <input #name type="text" class="form-control"  placeholder="First name">
      </div>
    <div class="form-group">
      <label >Job</label>
      <input #job type="text" class="form-control"  placeholder="Job">
    </div>
    <div class="form-group">
      <label >Favourite citation</label>
      <input #citation type="text" class="form-control"  placeholder="Favourite citation">
    </div>
      <div class="form-group">
        <label >image</label>
        <input #image  class="form-control"  placeholder="your image">
      </div>
      <div class="form-group">
        <label >Job description</label>
        <input #jobDescription type="text" class="form-control"  placeholder="Favourite citation">
      </div>
      <div class="form-group">
        <label >Keywords </label>
        <input #keywords type="text" class="form-control"  placeholder="Keywords of Your Job">
      </div>



    <button (click)="changecard(firstname,name,job,citation,image,jobDescription,keywords)"  type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
  </div>
</div>
