<!--<div class="alert alert-danger">-->
<!--  cc RT4-->
<!--  <div class="alert alert-warning">-->
<!--    <app-somme [x]="5"></app-somme>-->
<!--    <app-somme [y]="5"></app-somme>-->
<!--    <app-somme [x]="5" [y]="10"></app-somme>-->
<!--  </div>-->
<!--&lt;!&ndash;  <app-two></app-two>&ndash;&gt;-->
<!--&lt;!&ndash;  <app-first />&ndash;&gt;-->
<!--&lt;!&ndash;  <app-first></app-first>&ndash;&gt;-->
<!--&lt;!&ndash;  <app-second></app-second>&ndash;&gt;-->


<!--</div>-->



<!--<app-composant-couleur></app-composant-couleur>-->


<!--<div class="container">-->
<!--  <app-interface></app-interface>-->
<!--</div>-->


<!--<app-parent></app-parent>-->



<!--<app-cv></app-cv>-->


<!--<app-mini-word></app-mini-word>-->



<!--<div class="input-group mb-3">-->
<!--  <div class="input-group-prepend">-->
<!--    <span class="input-group-text" id="basic-addon1">@</span>-->
<!--  </div>-->
<!--  <input appMyDir type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">-->
<!--</div>-->



